* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(white, #f6f6f6, white);
    font-family: 'Quicksand', sans-serif;
}

h2 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: #e6007e;
    padding: 1em;
    margin-top: 3em;
}

h4 {
    font-family: 'Fredoka One', cursive;
    color: #4a4a49;
    font-size: 1.2rem;
}

/*--------------------------- MENU --------------------------------*/
/*--------------------------- MENU --------------------------------*/
/*--------------------------- MENU --------------------------------*/

nav {
    background-color: #f6f6f6;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #4a4a49;
    font-size: .75em;
    margin: 0;

}

ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 4vw 0 4vw;
}

li {
    padding: 1em 3em 1em 3em;
    list-style: none;
    border-bottom: 1px solid white;
}

li:first-child {
    flex-grow: 1;
}

.menuicon {
    display: inline-block;
    padding: .5em 1em .5em 0em;
    font-size: 1.7em;

}

.menuselected {
    display: inline-block;
    padding: .5em 1em .5em 0;
    font-size: 1.7em;
    color: #e6007e;

}

.purpleHover:hover,
.purpleHover:focus {
    color: #e6007e;
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
    color: #4a4a49;
}




/*--------------------------- SEARCH FIELD MENU ------------------------------*/
.searchContainer {
    display: inline-flex;
    border: 0px solid #4a4a49;
    border-radius: 5px;
    width: 80%;

}

.searchButton {
    background-color: #4a4a49;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #4a4a49;
    color: white;
    padding: 1em;
    border-radius: 0px 5px 5px 0px;
    -webkit-appearance: none;
}

.searchButton:hover,
.searchButton:focus {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #e6007e;
    background-color: #e6007e;
    transition-duration: 0.5s;
    outline: none;
}

#search {
    padding: 2em 1em 2em 1em;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #4a4a49;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
}

#search:hover,
#search:focus {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #e6007e;
    transition-duration: 0.5s;
    outline: none;

}

/*--------------------------- top header --------------------------------*/
/*--------------------------- top header --------------------------------*/
/*--------------------------- top header --------------------------------*/


.topHeader {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.frontHeader {
    width: 60vw;
    margin-top: 2rem;
    margin-right: 2rem;
}

.logoTekst {
    font-size: 2rem;
    color: #e6007e;
    font-family: 'Fredoka One', cursive;
}


/*--------------------------- Form CHECKBOXES --------------------------------*/
/*--------------------------- Form CHECKBOXES --------------------------------*/
/*--------------------------- Form CHECKBOXES --------------------------------*/

header section:first-of-type form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5em auto 0 auto;
}

.sorteren {
    margin: .5em;
    background-color: white;
    border-radius: .1rem;
    border: 1px solid #e6007e;
    display: block;
    width: 8rem;
    transition: all .3s ease-in;
    color: #4a4a49;

}

/*
.sorteren:hover {
    background-color: #e6007e;
    color: white;
}

DEZE STAAT NU IN DE MEDIA QUERY
*/


.sorteren label {
    width: 4.0em;
    cursor: pointer;
}

.sorteren label span {
    text-align: center;
    padding: 1em;
    display: block;
}

/*
.sorteren input[type=checkbox]:focus + span {
    background-color: #e6007e;
    color: #fff;

}

HOE KAN IK HIER DE BORDER VAN DE DIV TARGETTEN?

*/

.sorteren input[type=checkbox]:focus {
/*    -webkit-appearance: none;*/
    outline: none;
}

.sorteren input[type=checkbox] {
    position: absolute;
    z-index: -1;
}

.sorteren input[type=checkbox]:checked + span {
    background-color: #e6007e;
    color: #fff;


}


/*--------------------------- foodtruck section ------------------------------*/
/*--------------------------- foodtruck section ------------------------------*/
/*--------------------------- foodtruck section ------------------------------*/


.uitstekendeBeoordeling {
    padding: 1rem;
    margin: 2rem auto 0 auto;
    max-width: 90vw;


    /*    DIT IS DE CONTAINER VAN ALLE FOODTRUCKS MET EEN UITSTEKENDE BEOORDELING*/
}


.nieuw {
    padding: 1em;
    margin: 2em auto 0 auto;
    max-width: 90vw;
    /*    DIT IS DE CONTAINER VAN ALLE NIEUWE FOODTRUCKS*/
}


.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
}

.foodtruck {
    margin: 0 auto;

    /*    DIT IS DE CONTAINER VAN FOODTRUCKS */
}

.foodtruck:hover h4 {
    color: #e6007e;
    transition-duration: 0.5s;
}

.foodtruckHeader {
    margin-top: 2rem;
    padding: 1rem;
    color: #878787;

}

.foodyIcons {
    position: absolute;
    z-index: 2;
    height: 15vw;
    top: 3vw;
    right: 3vw;
    margin: 0;
    /*    Dit zijn de witte iconen op de foodtruck afbeelding */

}

.foodtruckFooter {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*    Dit is de zwarte balk */


}

.foodtruckFooter div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /*    Dit is de container voor de footer*/
}

.foodtruckFooter img {
    width: 30%;
    margin: .5rem 0 .5rem 0;
    /*    Dit zijn de iconen in de zwarte balk*/
}

.typoFoodtruckFooter {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    padding-left: .5rem;
    /*    Dit is de tekst in de zwarte balk*/
}


/*--------------------------- PASTA JOE ----------------------------------*/

.foodtruckBodyPJ {
    background-image: url(images/pastajoe.jpg);
    background-size: cover;
    background-position: top;
    min-height: 40vw;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;


}


/*--------------------------- Jhoenney doodle --------------------------------*/

.foodtruckBodyJD {
    background-image: url(images/jhonneydoodle2.jpg);
    background-size: cover;
    background-position: top;
    min-height: 40vw;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;

}


/*--------------------------- Saps foodtruck --------------------------------*/

.foodtruckBodySF {
    background-image: url(images/Saps-foodtruck2.jpg);
    background-size: cover;
    background-position: top;
    min-height: 40vw;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;


}




/*--------------------------- Saps foodtruck --------------------------------*/

.foodtruckBodyFF {
    background-image: url(images/foodtruck-friet.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40vw;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;

}

/*--------------------------- Pufkins foodtruck --------------------------------*/

.foodtruckBodyPF {
    background-image: url(images/pufkins.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40vw;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;

}


/*--------------------------- Chips foodtruck --------------------------------*/

.foodtruckBodyCF {
    background-image: url(images/chips.png);
    background-size: cover;
    background-position: center;
    min-height: 40vw;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}




footer {
    background-color: #f6f6f6;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #4a4a49;
    font-size: .75em;
    margin: 0;
    padding: 3em;
    text-align: center;
}




/*--------------------------- detail pagina --------------------------------*/
/*--------------------------- detail pagina --------------------------------*/
/*--------------------------- detail pagina --------------------------------*/


.hero {
    width: 100vw;
}

.titleFoodtruck {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.titleFoodtruck h4 {
    padding-left: .5rem;
    padding-right: 2rem;

}

.titleFoodtruck div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /*    Dit is de container voor de footer*/
}


.titleFoodtruck img {
    width: 30%;
    margin: .5rem 0 .5rem 0;
    /*    Dit zijn de iconen in de zwarte balk*/
}

#sfLogo {
    max-height: 7vw;
    max-width: 7vw;
}


.typoTitleFoodtruck {
    color: #4a4a49;
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    padding-left: .5rem;
    /*    Dit is de tekst in de zwarte balk*/
}


.info {
    width: 80vw;
    margin: 2em auto;

}

.gegevens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

.info p {
    padding: .3em 0em;
    font-family: 'Quicksand', sans-serif;
}

.info h4 {
    padding: 1rem 1rem 1rem 0;

}

.button {
    padding: 1rem;
    border-radius: .5rem;
    background-color: #e6007e;
    color: white;
    border: .1rem solid #e6007e;
    font-family: 'Quicksand', sans-serif;
}

.button:hover {
    padding: 1.1rem;
    transition-duration: 0.5s;

}

.fa-file-pdf {
    font-size: 1.5em;
    padding-right: .5em;
}

.fa-envelope {
    font-size: 1.5em;
    padding-right: .5em;
}

.fa-commentt {
    font-size: 1.5em;
    padding-right: .5em;
}


/*--------------------------- break points--------------------------------*/
/*--------------------------- break points --------------------------------*/
/*--------------------------- break points --------------------------------*/




/* responsive */
/* Responsive 800px START*/
/*@media all and (min-width: 768px) {}*/


/* Responsive 800px START*/
@media all and (min-width: 800px) {
    nav {}

    ul {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 4vw 0 4vw;

    }

    li {
        border-bottom: 0px solid white;
    }

    .menuicon {
        display: block;
        text-align: center;
        padding: .5em 0em .5em 0em;
        font-size: 1.7em;

    }

    .menuselected {
        display: block;
        text-align: center;
        padding: .5em 0 .5em 0;
        font-size: 1.7em;
        color: #e6007e;
    }


    .foodyIcons {
        height: 8vw;
        top: 1vw;
        right: 1vw;
        /*    Dit zijn de witte iconen op de foodtruck afbeelding */

    }

    .foodtruckBodyPJ {
        min-height: 20vw;
    }

    .foodtruckBodyJD {
        min-height: 20vw;
    }

    .foodtruckBodySF {
        min-height: 20vw;
    }

    .foodtruckBodyFF {
        min-height: 20vw;
    }

    .foodtruckBodyPF {
        min-height: 20vw;
    }

    .foodtruckBodyCF {
        min-height: 20vw;
    }


    .frontHeader {
        width: 30vw;

    }


/*        FORM CHECKBOXES */

    .sorteren:hover {
    background-color: #e6007e;
    color: white;
}







    /*--------------------------- detail pagina --------------------------------*/


    .info {
        width: 50vw;
    }


}
